/APDeductible.class
/AdditionalCovAPercent.class
/BaseRate.class
/ConstructionType.class
/CovSuper.class
/CoverageA.class
/CoverageB.class
/CoverageC.class
/CoverageD.class
/CoverageE.class
/CoverageF.class
/CoverageRegistration.class
/OrdinanceCoveragePercentage.class
/Plan.class
/ProtDevBurglarAlarm.class
/ProtDevFireAlarm.class
/ProtDevSprinklers.class
/ProtectionClass.class
/Tier.class
/Trampoline.class
/WoodStove.class
